
.category-type {
    /* width: 240px; */
    height: 40px;
    bottom: 0;
    left: 0px;
    background-color: #0d6efd;
}

.category-type a {
    padding-left: 60px;
    line-height: 40px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
}

.mainport {
    position: relative;
    top: 0;
    /* height: 450px; */
    background: url(../images/main/background2.jpg) no-repeat center center;
    ;
    /* background-color:#ea4e41; */
}

.mainport .leftList{
    background-color: white;
}

.rightList{
    background-color: rgba(255,255,255,0.8);
}

.logging .text {
    margin: 20px 20px 0;
    height: 80px;
    line-height: 30px;
    border-radius: 5px;
    background: url(../images/loginlogo.png) no-repeat left center;
    padding: 20px 0 15px 80px;
    font-size: 14px;
    color: #707070;
    font-weight: bold;
}


.info {
    margin: 0;
    font-size: 12px;
    color: #999;
}
.info .s1 {
    color: #ff7c2d;
}


